.navbarTop{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(240, 220, 220, 31%);
    color: #fff;
    padding: 1rem;
  }
  
  .navbarTop-left .logo-img{
    max-width: 50%;
    height: auto;
    margin-bottom: 10px
  }
  
  .navbarTop-right{
    display: flex;
  }
  
  .navbarTop-right .login-button{
    background-color: black;
    color: white;
    font-family: "Inter", Arial;
    padding: 10px 20px;
    margin: 10px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
  }
  
  .navbarTop-right .nav-links{
    list-style-type: none;
    display: flex;
    margin: 10px;
    padding: 10px 20px;
  }
  
  .navbarTop-right .nav-links li{
    margin-right: 1rem;
  }
  
  .navbarTop-right .nav-links a{
    color: #000000;
    font-family: "Inter", sans-serif;
    text-decoration: none;
  }