.adocaoContainerHome{
    display: flex;
    justify-content: center;
    margin-top: 10rem;
    gap: 10rem;
}

.adocaoCardLeft{
    background-color: rgb(240, 220, 220, 70%);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
    border-radius: 8px;
}

.cotainerImgDog{
    width: 400px;
    height: auto;
    border-radius: 10px;
}

.adocaoButtonDog{
    margin-top: 0.5rem;
    background-color: rgb(144, 158, 212, 45%);
    color:black;
    border: 1px solid #999;
    border-radius: 10px;
    padding: 8px 16px;
    cursor: pointer;
    font-family:"Inter", Arial;
}

.adocaoCardRight{
    background-color: rgb(240, 220, 220, 70%);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
    border-radius: 8px;
}

.cotainerImgCat{
    width: 400px;
    height: auto;
    border-radius: 10px;
}

.adocaoButtonCat{
    margin-top: 0.5rem;
    background-color: rgb(144, 158, 212, 45%);
    color:black;
    border: 1px solid #999;
    border-radius: 10px;
    padding: 8px 16px;
    cursor: pointer;
    font-family:"Inter", Arial;
}

.informationDog{
    gap: 2rem;
    background-color: rgb(240, 220, 220, 70%);
    width: 70%;
    display: flex;
    flex-direction: row;
    margin-left: 5em;
    margin-top: 2em;
}

.perfilAnimal{
    flex-direction: column;
    padding-left: 2%;
    padding-bottom: 40px;
}

.informationTitle{
    font-family:"Inter", arial;
    font-size: 30px;
    color:hsl(0, 0%, 20%)
}

.informationPhoto{
    width: 15rem;
    height: 18rem;
    box-shadow: 2px 2px 10px rgba(0,0,0,0.8);
}

.characteristicsAnimal{
    flex-direction: column;
    align-items: left;
    font-family: Arial;
    font-size: 20px;
    width: 100%;
    padding-top: 5%;
    padding-left: 2%;
}

.characteristicsAnimal hr{
    margin: 5px 0;
    width: 95%;
    border: none;
    border-top: 2px solid black;
}

.medicalCondition{
    gap: 2rem;
    background-color: rgb(240, 220, 220, 70%);
    width: 70%;
    display: flex;
    flex-direction: row;
    margin-left: 5em;
    margin-top: 2em;
}

.vaccines{
    flex-direction: column;
    align-items: left;
    font-family: Arial;
    font-size: 23px;
    width: 100%;
    padding-left: 5%;   
}

.vaccinesItens{
    list-style-type: disc;
    margin-left: 5em;
    padding-top: 5px;
    font-family: Arial;
    font-size: 18px;
}